{# templates/_components/dashboard_table.html #}
{% from "_components/counter.html" import countdown_widget with context%}
{% macro dashboard_table(job_details, extra_classes='') -%}
<div class="overflow-x-auto {{ extra_classes }}">
  <table class="table table-zebra">
    <thead>
      <tr>
        <th></th>
        <th>Job Name</th>
        <th>Trigger Type</th>
        <th>Time to Next Run</th>
      </tr>
    </thead>
    <tbody>
       {% for job in jobs %}
      <tr>
        <th>{{ loop.index }}</th>
        <td>{{ job.job_name }}</td>
        <td>{{ job.trigger_type }}</td>
        <td>{{ countdown_widget(job.next_trigger_time) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{%- endmacro %}