
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Scheduler App</title>
	<style> :root {color-scheme: light dark;} </style>
	<script src="https://unpkg.com/@tailwindcss/browser@4"></script>
	<link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
	<link href="static/stylesheet.css" rel="stylesheet" />
	<!-- <style type="text/tailwindcss">
      @import "tailwindcss";
    </style> -->
	<script src="https://unpkg.com/htmx.org@2.0.6"></script>
	<script src="{{ request.url_for('static', path='js/script.js') }}" defer></script>
</head>
<body class="min-h-screen bg-white text-slate-800 dark:bg-gray-900 dark:text-slate-100">
		{% block content %}{% endblock %}
</body>
</html>
